.progress-bar-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.progress-bar {
    height: 100%;
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    pointer-events: none; /* Zapobiega interakcji z tooltipem */
    white-space: nowrap;
	border: 3px solid black;
}